<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Lessons</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body class="w3-light-grey">
<div>
    <a th:href="@{'?locale=ru'}">RU</a>
    <a th:href="@{'?locale=en'}">EN</a>
</div>
<div class="w3-container w3-blue-grey w3-opacity w3-right-align">
    <h1 th:text="#{lesson.heading}"></h1>
</div>

<div class="w3-container w3-center w3-margin-bottom w3-padding">
    <div class="w3-card-4">
        <div class="w3-container w3-light-blue">
            <h2 th:text="#{lesson.lessons}"></h2>
        </div>
    </div>
</div>
<div>
    <table border="4"id="div_db">
        <tr>
            <th th:text="#{lesson.id}"></th>
            <th th:text="#{lesson.title}"></th>
            <th th:text="#{lesson.time}"></th>
            <th th:text="#{lesson.teacher}"></th>
        </tr>
        <tr th:each ="lesson : ${lessons}">
            <td th:utext="${lesson.id}">...</td>
            <td th:utext="${lesson.title}">...</td>
            <td th:utext="${lesson.time}">...</td>
            <td th:utext="${lesson.teacher}">...</td>
        </tr>
    </table>
</div>

<div class="w3-container w3-grey w3-opacity w3-right-align w3-padding">
    <input type="submit"  th:value="#{lesson.back}" class="w3-btn w3-round-large" onclick="location.href='/'"/>
</div>
</body>


<style type="text/css">
    table {
        border-collapse: collapse;
    }
    table td, th {
        padding: 5px;
    }
    #div_db{
        background-color: #bac6cc;
        border-style: solid;
        border-width: 1px;
        position:relative;
        width:50%;
        left:25%;
    }

</style>
</html>